<% wrap_layout :layout do %>
  <div class="top-spacer"></div>
  <div class="left-column">
    <div class="subnav">
      <%= yield_content(:sidebar) %>
    </div>
  </div>
  <div class="main-column">
		<!--<div class="crumb-trail">
			<span><a href="/default.aspx">Home</a> &gt; <a href="/home/about-our-firm.aspx">About Our Firm</a> &gt; Company Overview</span>
		</div>-->
		<div>
			<div>
				<h1 class="page-title">
          <% if defined? property %>
					  <%= property.property_name %>
          <% else %>
            <%= current_page.data.title %>
          <% end %>
				</h1>
			</div>
			<div class="body-txt">
        <% if defined? property and defined? property.short_address %>
  				<p class="highlight">
            <%= property.short_address %>
  				</p>
        <% elsif current_page.data.highlight.present? %>
          <p class="highlight">
            <%= current_page.data.highlight %>
          </p>
        <% end %>
				<%= yield %>
			</div>
		</div>
	</div>
  <%= partial "partials/inner_right_column" %>
<% end %>
