<% wrap_layout :layout do %>
  <div class="top-spacer"></div>
  <div class="left-column">
    <div class="subnav">
      <ul id="navID" class="navlist">
        <li><h4>Professional Team</h4></li>
        <% team = [["Carlos R. Robles", "CARLOS R. ROBLES,SIOR", "carlos-robles"], ["Pedro E. Sanchez", "PEDRO ESTEBAN SÁNCHEZ", "pedro-sanchez"], ["Frank Quirós", "FRANK A. QUIRÓS MARÍN", "frank-quiros"], ["Adrián Rodríguez", "ADRIAN RODRIGUEZ LUNA", "adrian-rodriguez"]] %>
        <%  team.each do |person| %>
          <li><a href="/about/professional-team/<%= person[2] %>/en" <%= "disabled tabindex='-1'" if person[1] == current_page.data.title %>><%= person[0] %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="main-column">
		<div>
			<div>
				<h1 class="page-title">
					<%= current_page.data.title %>
				</h1>
        <p><strong><%= current_page.data.highlight %></strong></p>
			</div>
			<div class="body-txt">
				<%= yield %>
			</div>
		</div>
	</div>
  <div class="right-column">
  	<div class="clear"></div>
  	<div class="cross-refs">
  		<div class="cross-ref-group cross-ref-0">
  			<div class="cross-ref-group-body">
          <% if sitemap.find_resource_by_path("/about/professional-team/#{current_page.data.folder}/imagen.jpg") %>
            <img src="/about/professional-team/<%= current_page.data.folder %>/imagen.jpg" alt="" class="imagen-team" />
            <div class="clear"></div>
          <% end %>
          <span style="font-size: 8pt; font-weight: bold;"><%= current_page.data.title %><br></span>
          <%= current_page.data.highlight %><br/><br/>
          <p>
            <%= dato.information.address %><br/>
            <%= current_page.data.email %><br/>
            Tel / Fax <a href="tel:<%= dato.information.phone %>"><%= dato.information.phone %></a><br/>
            Mobile <%= current_page.data.mobile %>
          </p>
          <br/>

          <% if sitemap.find_resource_by_path("/about/professional-team/#{current_page.data.folder}/english.pdf") %>
              <a href="/about/professional-team/<%= current_page.data.folder %>/english.pdf" download="<%= current_page.data.title.gsub('.', '') %> Professional Profile">Download Profile (english)</a>
              <br/>
          <% end %>

          <% if sitemap.find_resource_by_path("/about/professional-team/#{current_page.data.folder}/espanol.pdf") %>
            <a href="/about/professional-team/<%= current_page.data.folder %>/espanol.pdf" download="<%= current_page.data.title.gsub('.', '') %> - Perfil Profesional">Descargar Perfil (español)</a>
            <br/>
          <% end %>

          <br/>

          <% unless current_page.data.specialization.nil? or current_page.data.specialization.empty? %>

          <span style="font-size: 8pt; font-weight: bold;">Areas of Specialization</span>
          <div id="AreasOfSpecialization">
            <ul>
              <% current_page.data.specialization.each do |specialty| %>
                <li><%= specialty %></li>
              <% end %>
            </ul>
          </div>

          <% end %>

          <p>
		        <span style="font-size: 8pt; font-weight: bold;">Years of Experience</span><br>
		        <%= current_page.data.yearsOfExperience %> years
	        </p>

  			</div>
  		</div>
  	</div>
  	<div class="clear"></div>
  </div>
<% end %>
