---
layout: content
body_class: content
title: Media Center
category: news
weight: 0
date: 2016-09-23
---
<div class="news">
  <div class="list">
    <% dato.articles.sort_by { |resource| resource.date }.reverse.each do |article| %>
      <div class="odd">
        <div class="date"><strong><%= article.date %></strong></div>
        <div class="detail-info">
          <div>
            <a class="detail-link" href="/media-center/press-releases/<%= article.title.parameterize %>/">
              <%= article.title %>
            </a>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    <% end %>
  </div>
</div>
<% content_for(:sidebar) do %>
  <ul id="navID" class="navlist">
    <li><a href="/media-center/in-the-news/">In the news</a></li>
    <% dato.articles.sort_by { |resource| resource.date }.reverse.last(4).each do |article| %>
      <li>
        <a href="/media-center/press-releases/<%= article.title.parameterize %>/"><%= article.title %></a>
      </li>
    <% end %>
    <a href="/media-center/press-releases/">More articles</a>
  </ul>
<% end %>
