<div class="property">
  <div class="title-bar">
    <%= property.property_name %> - <%= property.short_address %>
  </div>
  <div class="property-content">
    <% if property.cover.present? %>
    <div class="property-image">
      <%= image_tag property.cover.file.width(170).height(136).fit("crop").to_url %>
    </div>
    <% end %>
    <div class="property-description">
      <p class="property-status"><%= property.status.title %></p>
      <%= property.description %>
    </div>
    <div class="pdf-button-container">
      <% if property.attachment %>
        <a class="button button-gray" href="<%= property.attachment.file.to_url %>" target="_blank" download="<%= property.property_name %> - Property listing brochure">More information</a>
      <% end %>
    </div>
  </div>
</div>
