<div class="property">
  <div class="title-bar">
    <a href="/property-listings/<%= property.property_name.parameterize %>/"><%= property.property_name %> - <%= property.short_address %></a>
  </div>
  <div class="property-image">
    <a href="/property-listings/<%= property.property_name.parameterize %>/"><%= image_tag property.cover.file.width(170).height(136).fit("crop").to_url %></a>
  </div>
  <div class="property-description">
    <%= extract_first_paragraph(property.description) %><a href="/property-listings/<%= property.property_name.parameterize %>"> Learn more >></a>
    <br/>
    <span class="price">$<%= number_with_delimiter(property.sales_price) %></span>
  </div>
</div>
