<div class="property">
  <div class="title-bar">
    <a href="/property-listings/<%= property.property_name.parameterize %>/"><%= property.property_name %> - <%= property.short_address %></a>
  </div>
  <div class="property-content">
    <% if property.cover.present? %>
    <div class="property-image">
      <a href="/property-listings/<%= property.property_name.parameterize %>/"><%= image_tag property.cover.file.width(170).height(136).fit("crop").to_url %></a>
    </div>
    <% end %>
    <div class="property-description">
      <%= extract_first_paragraph(property.description) %> <a href="/property-listings/<%= property.property_name.parameterize %>">Learn more >></a>
      <br/>
      <span class="price"><%= property.price %></span>
    </div>
    <div class="pdf-button-container">
      <% if property.attachment %>
        <a class="button button-gray" href="<%= property.attachment.file.to_url %>" target="_blank" download="<%= property.property_name %> - Property listing brochure">More information</a>
      <% end %>
    </div>
  </div>
</div>
