<% dato.listings.each do |property| %>
  <div class="property">
    <div class="title-bar">
      <a href="/property-listings/<%= property.property_name %>"><%= property.property_name %> - <%= property.short_address %></a>
    </div>
    <div class="property-image">
      <a href="/property-listings/<%= property.property_name %>"><%= image_tag property.cover.file.width(170).height(136).fit("crop").to_url %></a>
    </div>
    <div class="property-description">
      <% @description = property.description %>
      <%= @description.split(/<p>(.*)<\/p>/)[0] %><a href="/property-listings/<%= property.property_name %>"> Learn more >></a>
      <br/>
      <span class="price">$<%= number_with_delimiter(property.sales_price) %></span>
    </div>
  </div>
<% end %>
