---
layout: about
---
<% dato.members.select { |member| member.countries.map { |country| country.name }.include?(country)}.each.group_by { |i| i.department }.each do |key, members| %>
  <h2><%= key %></h2>
  <ul class="team-member-list">
    <% members.each do |member| %>
      <li>
        <% if member.bio.present? %>
          <strong><a href="/about/professional-team/<%= member.name.parameterize %>"><%= member.name %></strong></a>
        <% else %>
          <strong><%= member.name %></strong>
        <% end %>
        <br/><i><%= member.job_title %></i>
      </li>
    <% end %>
  </ul>
<% end %>