---
title: Our Partners
layout: about
body_class: content
category: about
weight: 4
partners:
 -
   name: "Newmark Grubb Knight Frank"
   imagen: nmkf
   url: www.ngkf.com
 -
   name: "BGC Newmark Grubb Knight Frank"
   imagen: bgcc
   url: www.bgcpartners.com
 -
   name: "CCRE Cantor Commercial Real Estate"
   imagen: ccre
   url: www.cantorcre.com
 -
   name: "Cantor Fritzgerald Investment Banking"
   imagen: cantor
   url: www.cantor.com
---
<%= dato.about.our_partners_text %>
<br/>

<ul class="partners">
  <% current_page.data.partners.each do |p| %>
  <li>
    <div class="half">
      <img src="/images/partners/<%= p.imagen %>.jpg" alt="<%= p.name %>" />
    </div>
    <div class="half">
      <h4><%= p.name %></h4>
      <a href="http://<%= p.url %>" target="_blank" rel=noopener rel=noreferrer /><%= p.url %></a>
    </div>
  </li>
  <% end %>
</ul>
