<h4>Property Listings</h4>
<ul id="navID" class="navlist">
  <% dato.listings.select{|l| l.featured == true }.first(10).each do |page| %>
    <li>
      <% if page.property_name == property.property_name %>
        <a href="#" disabled tabindex="-1"><%= page.property_name %></a>
      <% else %>
        <a href="/property-listings/<%= page.property_name.parameterize %>"><%= page.property_name %></a>
      <% end %>
    </li>
  <% end %>
</ul>
<select onChange="window.location.href=this.value" class="subnav-mobile-navigation">
  <% dato.listings.select{|l| l.featured == true }.first(10).each do |page| %>
    <option value="<%= "/property-listings/#{page.property_name.parameterize}" %>"><%= page.property_name %></option>
  <% end %>
</select>
